.is-primary {
  background: $primary;
}

.is-secondary{
  background: $secondary;
}

.is-success {
  background: $success;
}

.is-warning {
  background: $warning;
}

.is-danger {
  background: $danger;
}