// colors
$primary: #4078C0;
$secondary: #767676;
$info: #52bad5;
$success: #55A532;
$warning: #FFD36B;
$danger: #BD2C00;

$dark: #000000;
$light-grey: #f2f2f2;
$light: #FFFFFF;

$navbar-height: 60px;